.kozep-gomb{
    display:block;
    width:350px;

    background-color:#6b9c6f;
    color:white;

    padding:15px 30px;
    margin:15px auto 40px auto; /* középre igazít */

    text-decoration:none;
    border-radius:8px;
    font-weight:bold;

    transition:all 0.8s ease;
    text-align: center;
}

.kozep-gomb:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 18px rgba(0,0,0,0.25);
}

.velemeny-urlap-blokk{
    max-width:600px;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.velemeny-urlap-blokk input,
.velemeny-urlap-blokk textarea,
.velemeny-urlap-blokk select{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
}

.urlap-gombok{
    display:flex;
    gap:10px;
}